<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sona Template">
    <meta name="keywords" content="Sona, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book Store</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" th:href="@{/fonts/icomoon/style.css}"/>
    <!-- Css Styles -->
    <link rel="stylesheet"  th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet"  th:href="@{/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet"  th:href="@{/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet"  th:href="@{/css/flaticon.css}" type="text/css">
    <link rel="stylesheet"  th:href="@{/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet"  th:href="@{/css/nice-select.css}" type="text/css">
    <link rel="stylesheet"  th:href="@{/css/jquery-ui.min.css}" type="text/css">
    <link rel="stylesheet"  th:href="@{/css/magnific-popup.css}" type="text/css">
    <link rel="stylesheet"  th:href="@{/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet"  th:href="@{/css/style.css}" type="text/css">
</head>

<body>
    
    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="top-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="tn-left">
                            <li><i class="fa fa-phone"></i>  036867890</li>
                            <li><i class="fa fa-envelope"></i>Duong@gmail.com</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <div class="tn-right">
                            <div class="top-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-tripadvisor"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                            <a href="#" class="bk-btn">Book Store</a>
                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                           <h3>Book Store</h2>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="nav-menu">
                            <nav class="mainmenu">
                                <ul>
                                    <li class="active"><a href="./books">Trang chủ </a></li>
                                    <li><a href="#">Nhà sản Xuất</a>
                                        <ul class="dropdown"  >
											<li th:each="pub : ${publishers}">
												<a th:href="@{|/show-detail-publisher?pubId=${pub.pubId}|}"  th:text="${pub.publisherName}"></a>
											</li>
										</ul>
                                    </li>   
                                    <li><a href="#">Loại sách</a>
                                        <ul class="dropdown"  >
											<li th:each="car : ${categories}">
												<a th:href="@{|/show-detail-category?categoryId=${car.categoryId}|}"  th:text="${car.categoryName}"></a>
											</li>
										</ul>
                                    </li>                                                               
                                  
                                </ul>
                            </nav>
                            <div class="nav-right search-switch">
                                <i class="icon_search"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Hero Section Begin -->
    <section class="hero-section">
     
        <div class="hero-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="img/hero/hero-1.jpg"></div>
            <div class="hs-item set-bg" data-setbg="img/hero/hero-2.jpg"></div>
            <div class="hs-item set-bg" data-setbg="img/hero/hero-3.jpg"></div>
        </div>
    </section>
    <!-- Hero Section End -->



    <!-- Services Section End -->
    <section class="services-section spad">
        <div class="container">
        
        
            <div class="row mb-5" style="border: 1px solid #dfa974;border-radius: 25px;">
                    <div class="col-md-7">
                        <h2 class="heading" th:text="${publisher.publisherName}"></h2>
                    </div>
             </div>
			<div class="row">

				<div class=" col-sm-3" th:each="book : ${publisher.books}">
					<div class="service-item " style="border: 1px solid #dfa974;">
						<div class="hs-item set-bg" style="text-align: center;">
								<img style="height: 150px; width: 200px; " th:src="@{{image}(image=${book.imageUrl})}"
									class="img-responsive center-block" alt="Logo" />
							</div>

							<h5 th:text="${book.rating}"> </h5>
							<p th:text="${book.title}"></p>
							<p th:text="${book.description}"></p>
					</div>
				</div>
			</div></section>
    <!-- Services Section End -->


    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="footer-text">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="ft-about">
                            <div class="logo">
                               <h3 style="color: white;">Book Store</h3>
                            </div>
                            <p>We inspire and reach millions of travelers<br /> across 90 local websites</p>
                            <div class="fa-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-tripadvisor"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-contact">
                            <h6  style="color: white;" >Liên hệ với chúng tôi</h6>
                            <ul>
                                <li>036664898</li>
                                <li>Duong@gmail.com</li>
                                <li>123 Cầu giấy - Hà Nội </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-newslatter">
                            <h6  style="color: white;" >Liên hệ tới bạn</h6>
                            <p>Gửi email của bạn </p>
                            <form action="#" class="fn-form">
                                <input type="text" placeholder="Email">
                                <button type="submit"><i class="fa fa-send"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </footer>
    <!-- Footer Section End -->

    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- Js Plugins -->
    <script th:src ="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src ="@{/js/bootstrap.min.js}"></script>
    <script th:src ="@{/js/jquery.magnific-popup.min.js}"></script>
    <script th:src ="@{/js/jquery.nice-select.min.js}"></script>
    <script th:src ="@{/js/jquery-ui.min.js}"></script>
    <script th:src ="@{/js/jquery.slicknav.js}"></script>
    <script th:src ="@{/js/owl.carousel.min.js}"></script>
    <script th:src ="@{/js/main.js}"></script>
</body>

</html>